Programming Language: Python 3.9 or greater
IDE Environment: Visual Studio Code or Jupyter Notebook
Packages: pandas, glob, os, sklearn, matplotlib, mpl_toolkits, scipy, numpy, seaborn, plotly, mlxtend